In [2]:
import pandas as pd

In [3]:
t = pd.read_csv('./data/out.csv', nrows=2)
t

   B      C  A                           D
0  0   True  a  2017-11-08 00:49:23.065354
1  1  False  b  2017-11-08 01:49:23.065354

In [7]:
from dateutil.parser import parse

def is_date(string):
    try: 
        parse(string)
        return True
    except ValueError:
        return False

for c in t:
    dtype = t[c].dtype
    if dtype == int:
        print(c,dtype,int)
    elif dtype == bool:
        print(c,dtype,bool)
    elif is_date(t[c][0]):
        print(c,dtype,"date")
    else:
        print(c,dtype, str)

B int64 <class 'int'>
C bool <class 'bool'>
A object <class 'str'>
D object date

In [10]:
t[['C','A']]

       C  A
0   True  a
1  False  b